html {
    min-height: 90%;
    position: relative;
  }
  
  body {
    background-image: url('https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  th {
    background-color: white;
  }
  
  th,
  td {
    border-right: 1px solid lightgrey;
  }
  
  .time {
      border-left: 1px solid rgb(15, 14, 14);
  }
  
  .input-cell {
      padding: 0px !important;
      position: relative;
  }
  
  .input-area {
      width: 90%;
      height: 80%;
      resize: none;
      border: 0;
      padding: 5px 0px 0px 10px;
      position: absolute;
  }
  
  .save-button-cell {
    background-color: rgb(13, 11, 15);
  }
  
  .time,
  .save-button-cell {
    width: 5%;
  }
  
  #title-date, #title-time {
      margin: 0;
  }
  
  .sticky-footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
  }